@charset "UTF-8";
/* ===============Обнуление============= */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

@font-face {
  font-family: 'ceremonious';
  src: url("../fonts/ceremonious_one.eot");
  src: local("☺"), url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.ttf") format("truetype"), url("../fonts/ceremonious_one.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c242a;
  -webkit-box-shadow: 0px 7px 20px 4px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 7px 20px 4px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  /* border-radius: 50%; */
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__link {
  color: ivory;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    padding-top: 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after,
  .header__burger span {
    background-color: #86672b;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #1c222aee;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.hero-slider {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0;
}

.hero-slider__block {
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero-slider__img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0) brightness(40%);
          filter: blur(0) brightness(40%);
  /* opacity: 0;
    animation: hideImage .5s;
    animation: hideImage .5s, scaleBackImage .5s forwards; */
}

.hero-slider__content {
  position: absolute;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  /* justify-content: center; */
}

.hero-slider__title, .hero-slider__text {
  font: 4em Arial, sans-serif;
  color: #faf5f5;
  margin: 15px 0;
}

.hero-slider__title {
  margin-bottom: 20px;
  -webkit-animation: hideImage .5s, scaleBackImage .4s forwards;
          animation: hideImage .5s, scaleBackImage .4s forwards;
}

.hero-slider__text {
  margin: 0 auto;
  font: 2em Arial, sans-serif;
  text-align: center;
  -webkit-animation: hideImage .7s, scaleBackImage .5s forwards;
          animation: hideImage .7s, scaleBackImage .5s forwards;
}

.slick-active .hero-slider__title {
  -webkit-animation: bounceInRight 1.5s both 1.5s;
          animation: bounceInRight 1.5s both 1.5s;
}

.slick-active .hero-slider__text {
  -webkit-animation: bounceInUp 1.5s both .5s;
          animation: bounceInUp 1.5s both .5s;
}

/* .slick-active .slider__img {
  animation: showImage .8s .5s forwards, scaleImage .5s .5s forwards;
} */
@media (max-width: 767px) and (min-width: 374px) {
  .hero-slider__title {
    font: 4em Arial, sans-serif;
  }
  .hero-slider__text {
    font: 2em Arial, sans-serif;
  }
}

@media (max-width: 375px) {
  .hero-slider__title {
    font: 3em Arial, sans-serif;
  }
  .hero-slider__text {
    font: 1.5em Arial, sans-serif;
  }
}

/* .slick-active .slider__img {
  animation: showImage .8s .5s forwards, scaleImage .5s .5s forwards;
} */
@-webkit-keyframes showImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scaleImage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes scaleImage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@-webkit-keyframes scaleBackImage {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes scaleBackImage {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

.content {
  width: 100%;
  background-color: dimgray;
}

.content__text {
  font-size: 1.4em;
  color: white;
  padding: 0 15px;
}
