html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}